.footer{
    background-color: #707070;
    width: calc(100% - 140px);
    height:320px;
    font-family:'Rubik', sans-serif ;
    padding:70px;
    overflow: hidden;

}

.anexbios{
    float: left;
}

#popcorn{
    width: 301px;
    height:107px;
}

#info{
    color:white;
    width:403px;
    height:141px;
}

#leesmeer{
    border:none;
    background-color: aliceblue;
    height: 37px;
    width:108px;
    color:#666666;
    cursor:pointer;
    
}

.navigeer{
    padding-left:80px;
    color:white;
    text-align: left;
    float: left;

}

footer h4{
    font-size: 30px;
}

footer a{
    width:300px;
    height:130px;
    text-decoration: none;
    color:white;
    cursor:pointer;
}

.sociaal{
    float: left;
    padding-left:80px;
    color:white;
}


.cirlce{
    background-color:#FFFFFF;
    width: 43px;
    height:43px;
    border-radius: 50%;
    float: left;
    margin-right:10px;
}

#facebookimg{
    margin-top:20%;
    margin-left:35%;
}

#twitterimg{
    margin-top:28%;
    margin-left:25%;
}

#instaimg{
    margin-top:25%;
    margin-left:28%;
}

#filmrol{
    clear:both;
    margin-top: -280px;
    padding-left:70px;
}
