.footer{
    background-color: #707070;
    width: calc(100% - 140px);
    height:320px;
    font-family:'Rubik', sans-serif ;
    padding:70px;
    overflow: hidden;

}

.anexbios{
    float: left;
    width:27%;
}

#popcorn{
    width: 100%;
    height:auto;
}

#info{
    color:white;
    width:100%;
    height:50%;
}

#leesmeer{
    border:none;
    background-color: aliceblue;
    height: 37px;
    width:108px;
    color:#666666;
    cursor:pointer;
    
}

.navigeer{
    padding-left:80px;
    width:10%;
    color:white;
    text-align: left;
    float: left;
    white-space: nowrap;

}

footer h4{
    font-size: 30px;
}

footer a{
    width:300px;
    height:130px;
    text-decoration: none;
    color:white;
    cursor:pointer;
}

.sociaal{
    float: left;
    padding-left:80px;
    height:320px;
    width:25%;
    color:white;
}


.circle{
    background-color:#FFFFFF;
    width: 43px;
    height:43px;
    border-radius: 50%;
    float: left;
    margin-right:10px;
    cursor: pointer;
}

#facebookimg{
    margin-top:20%;
    margin-left:35%;
}

#twitterimg{
    display: flex;
    justify-content: center;
    margin-top: 26.47290697674419%;
}

#instaimg{
    margin-top:25%;
    margin-left:28%;
}

#filmrol{
    float: left;
    padding-left:70px;
}

@media only screen and (max-width: 900px) {
    /* For tablets: */


    .anexbios{
        width:40%;
    }

    #popcorn{
            width:200px;
            height:75px;
    }
    #info{
        width:100%;

    }

    .navigeer{
        width:15%;
        margin-left:-100px;
        padding-left:120px;
        font-size: 15px;
        margin-top:-20px;
    }
    .navigeer h4 {
        font-size:25px; 
    }

    .sociaal{
        width:20%;
        margin-top: -20px;
    }

    .sociaal h4{
        font-size: 25px;
    }
    
    .circle{
        background-color:#FFFFFF;
        width: 33px;
        height:33px;
        border-radius: 50%;
        float: left;
        margin-right:10px;
        margin-top: 10px;
    }
    
    #facebookimg{
        margin-top:15%;
        margin-left:30%;
    }
    
    #twitterimg{
        margin-top:20%;
        margin-left:10%;
    }
    
    #instaimg{
        margin-top:19%;
        margin-left:21%;
    }
    

}

@media only screen and (max-width: 600px) {
    /* For tablets: */


    .anexbios{
        margin: -50px;
        clear:both;
    }

    #popcorn{
            width:120px;
            height:45px;
    }
    #info{
        width:300px;
        height:100px;
    }

    #leesmeer{
        border:none;
        background-color: aliceblue;
        height: 20px;
        width:100px;
        color:#666666;
        cursor:pointer;
        
    }

    .navigeer{
        font-size: 10px;
        margin-top:170px;
        padding-left: 50px;
    }
    .navigeer h4 {
        font-size:15px; 
        margin-bottom:-5px;
    }

    .sociaal{
        margin-top: 170px;
        width: 200px;
    }

    .sociaal h4{
        font-size: 15px;
        margin-bottom:-5px;

    }
    
    .circle{
        background-color:#FFFFFF;
        width: 33px;
        height:33px;
        border-radius: 50%;
        margin-left:-5px;
        margin-top: 10px;
        float: left;
    }
    
    #twitterimg{
        margin-top:20%;
        margin-left:5%;
    }
    
    #instaimg{
        margin-top:19%;
        margin-left:20%;
    }
    

}